html,
body {
  background: #fafafa;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-card-border-less-wrapper {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: fit-content;
  text-align: center;
}
.card-content {
  text-align: center;
  justify-content: center;
  width: auto;
}

.bmi-result {
  text-align: center;
}

.card {
  /* box-shadow: 10px; */
  /* border-radius: 10px; */
  /* text-shadow: 10px; */
  /* box-sizing: calc(width: border-box); */
}
