html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-card-border-less-wrapper {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 50%;
  background: #ececec;
  text-align: center;
}
.card-content {
  text-align: center;
  justify-content: center;
}

.bmi-result {
  text-align: center;
}
